# Exercícios Pandas

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia térmica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np
import math

dados = [
    [1900, -0.08],
    [1920, -0.27],
    [1940, 0.12],
    [1960, -0.03],
    [1980, 0.26],
    [2000, 0.40],
    [2020, 1.02]
]

df = pd.DataFrame(dados, columns=["ano", "anomalia_térmica"])
print(df)

serie_anomalia = df["anomalia_térmica"]
print(serie_anomalia)

    ano  anomalia_térmica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02
0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
Name: anomalia_térmica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:
# Dados de anomalia térmica
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Anos correspondentes aos dados
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Criando a série com os anos como índice
serie = pd.Series(dados, index=anos)

# Exibindo a série
print(serie)

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [2]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

#Criando a serie panda
serie_temperatura = pd.Series(dic_temperaturas)

#exibindo a serie
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [3]:
arr = np.random.normal(100, 10, (20,3)) #um dataframe de 20 linhas e tres colunas com uma distribuição normal de media 100 e desvio padrão 10

df = pd.DataFrame(arr, columns=["Coluna 1", "Coluna 2", "Coluna 3"])

print(df)

      Coluna 1    Coluna 2    Coluna 3
0    80.210676  114.033640  107.499259
1    88.611585  106.562698   96.437698
2   104.811336  105.565975  100.541397
3    81.526028  107.962659  113.535924
4    82.695813   96.034736  124.179394
5    78.960141   94.248810   75.540574
6    97.137363   92.677617   81.386052
7    97.846779  110.610390  100.344894
8   106.441685   96.441963   89.030204
9   106.258002  118.380746   98.503982
10  105.005237   91.994165  121.180274
11  101.404386   75.979671  104.495221
12   94.636663  123.324608  100.864242
13   99.375067  102.811721  103.400231
14  105.532426   81.991617   95.248827
15  109.267852  100.925814   92.820648
16  113.042334  107.464779   95.895621
17  110.354333   92.000188   83.613430
18  102.068804   95.506257   88.634771
19  103.242719  112.534834  110.410162

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, index=range(1,21), columns=["x1", "x2", "x3"])

print(df)

            x1          x2          x3
1    96.242660   99.605939   98.940583
2   109.751988   74.135860   88.795884
3    91.518450   88.144039  113.463275
4    96.915185  109.047921  102.655897
5   115.650915  100.917981  104.886460
6    96.759585  115.213834  105.602099
7    85.045744  108.093874  121.359386
8    89.411857  102.752175  115.185175
9    95.246178   93.970680  103.162004
10   86.161160  107.541073  111.867235
11  104.856183   89.000556  114.321389
12  112.071969   90.379488  103.154387
13   89.568798  101.333874  111.156709
14   83.715442   97.437010   77.366338
15   88.088437   89.116068   91.155162
16   97.257718   83.013950  101.328743
17  114.483979  107.691414  109.777554
18   91.895330   83.888115   96.364916
19   92.871954   84.311878  111.669353
20   97.351024   69.958661  110.103037

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [11]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, index=range(1,21), columns=["x1", "x2", "x3"])

# Adicionar a coluna 'media', que será a média das colunas 'x1', 'x2', 'x3' para cada linha
df["media"] = df.mean(axis=1) #axis=0 calcula por coluna e axis=1 calcula por linha

print(df)

            x1          x2          x3       media
1    95.079159  102.468962  100.677614   99.408578
2   108.596467  111.203586  108.373011  109.391021
3    95.911169   98.383712  101.086169   98.460350
4   101.388638  111.678145  104.100285  105.722356
5   105.591445  110.145642   88.897924  101.545004
6   115.163520  110.910718  122.343582  116.139273
7    98.777984   98.688125  103.758861  100.408323
8   108.038474  103.490149   90.145718  100.558114
9   109.033963   83.035238   94.744215   95.604472
10  105.975503   90.394299   89.228906   95.199569
11  100.424273   91.236771   85.507303   92.389449
12   97.232041   97.274648  107.512725  100.673138
13  110.802408  100.110115   91.356282  100.756268
14   94.293412  104.910224   97.108736   98.770791
15   98.235469   79.691140   84.340162   87.422257
16   99.820606   99.270255   91.667638   96.919500
17   98.070932  103.986710   94.703762   98.920468
18   99.227570  102.505885   96.393619   99.375691
19   94.020894  108.807440  102.411533  101.746622
20  110.437371   94.672412  100.143490  101.751091

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [14]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, index=range(1,21), columns=["x1", "x2", "x3"])

df["media"] = df.mean(axis=1)

df["log_med"] = np.log(df["media"])

print(df)

            x1          x2          x3       media   log_med
1   111.579795  117.287892  105.068285  111.311991  4.712337
2    85.944943  111.808359   80.321899   92.691733  4.529279
3   115.388198  102.506147   90.544849  102.813065  4.632912
4   111.396529  107.419694  104.413015  107.743079  4.679749
5    91.109082   94.526425  106.575396   97.403634  4.578864
6    92.586514  109.617768  115.053802  105.752695  4.661103
7   103.859017  103.563412   91.420290   99.614240  4.601305
8   121.791666  113.404543  108.865829  114.687346  4.742210
9    94.549088  102.185345  106.223307  100.985913  4.614981
10   98.657453   83.030022  112.025236   97.904237  4.583990
11   70.359359  103.811762   98.927309   91.032810  4.511220
12   99.958777   89.013649  101.099656   96.690694  4.571517
13  101.177645   79.201034  110.728556   97.035745  4.575079
14  118.651779   95.987902   92.017560  102.219081  4.627118
15  119.291458  109.919273  110.122688  113.111140  4.728371
16  106.701241   93.400575   96.503342   98.868386  4.593790
17  108.069543  109.541591  113.394517  110.335217  4.703523
18   94.758609   87.384985  108.274127   96.805907  4.572708
19   98.660054  103.769015  101.941819  101.456963  4.619635
20   87.132866  123.258754   76.718779   95.703466  4.561255

#### 8) Análise de Vendas de Jogos Eletrônicos com Pandas

1. Baixe o dataset **"Venda de jogos"** (Video Game Sales), que contém dados sobre jogos com mais de 100.000 cópias vendidas.

- Baixe a base: [Clique aqui para baixar o arquivo](https://drive.google.com/file/d/1LTQSnw4ft90OCA7k2OwPw71MGY52FrSI/view?usp=sharing)

A fonte original é o site [vgchartz.com](https://www.vgchartz.com).

2. Carregue os dados usando a biblioteca `pandas`.
3. Responda às perguntas abaixo com base na sua análise.

#### Dicionário de Dados - Venda de Jogos

Este dicionário descreve cada uma das colunas presentes no dataset de vendas de jogos eletrônicos.

| Coluna         | Tipo de Dado     | Descrição                                                                 |
|----------------|------------------|---------------------------------------------------------------------------|
| `Rank`         | Inteiro          | Posição no ranking geral de vendas globais.                              |
| `Name`         | Texto (string)   | Nome do jogo.                                                             |
| `Platform`     | Texto (string)   | Plataforma em que o jogo foi lançado (ex: PS4, PC, Xbox One, etc.).      |
| `Year`         | Numérico (float) | Ano de lançamento do jogo.                                               |
| `Genre`        | Texto (string)   | Gênero do jogo (ex: Action, Sports, RPG, etc.).                          |
| `Publisher`    | Texto (string)   | Empresa responsável pela publicação do jogo.                             |
| `NA_Sales`     | Numérico (float) | Vendas na América do Norte (em milhões de unidades).                     |
| `EU_Sales`     | Numérico (float) | Vendas na Europa (em milhões de unidades).                               |
| `JP_Sales`     | Numérico (float) | Vendas no Japão (em milhões de unidades).                                |
| `Other_Sales`  | Numérico (float) | Vendas no restante do mundo (exceto NA, EU e JP), em milhões de unidades.|
| `Global_Sales` | Numérico (float) | Total de vendas globais (em milhões de unidades).                        |


---

## Perguntas

1. **Qual foi o gênero de jogo com o maior volume de vendas globais (`Global_Sales`)?**  
   *Dica:* Use `groupby` com a coluna `Genre` e some as vendas globais.

2. **Quais são as 5 plataformas com maior média de vendas na América do Norte (`NA_Sales`)?**  
   *Dica:* Use `groupby` na coluna `Platform` e calcule a média de `NA_Sales`.

3. **Qual publisher lançou o maior número de jogos entre os anos de 2000 e 2010?**  
   *Dica:* Filtre as linhas com `Year` entre 2000 e 2010 e conte os jogos por `Publisher`.

4. **Existe alguma relação aparente entre as vendas no Japão (`JP_Sales`) e o gênero do jogo?**  
   *Dica:* Compare as médias ou medianas de `JP_Sales` por `Genre` e descreva o que observou.

---

In [15]:
# Montando o Drive
from google.colab import drive
drive.mount('/content/drive')

# Caminho do diretório escolhido
path = "/content/drive/MyDrive/DATA_SCIENCE"


# Leitura do arquivo
df = pd.read_csv(path + '/vgsales.csv', sep=',') #df= data frame

# Mostrando as 10 primeiras linhas
df.head(10)

Mounted at /content/drive

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [16]:
# Exercicio 1

# Agrupar por gênero e somar as vendas globais
genre_sales = df.groupby("Genre")["Global_Sales"].sum()

# Encontrar o gênero com maior volume de vendas
top_genre = genre_sales.idxmax()
top_sales = genre_sales.max()

print(f"Gênero com maior volume de vendas globais: {top_genre} ({top_sales:.2f} milhões)")

Gênero com maior volume de vendas globais: Action (1751.18 milhões)

In [17]:
# Exercicio 2

# Agrupar por plataforma e calcular a média das vendas na América do Norte
platform_avg_na = df.groupby("Platform")["NA_Sales"].mean()

# Obter as 5 plataformas com maior média
top_5_platforms = platform_avg_na.sort_values(ascending=False).head(5)

print("Top 5 plataformas com maior média de vendas na América do Norte:")
print(top_5_platforms)

Top 5 plataformas com maior média de vendas na América do Norte:
Platform
NES     1.285102
GB      1.166531
GEN     0.713704
2600    0.681203
X360    0.475138
Name: NA_Sales, dtype: float64

In [18]:
# Exercicio 3

# Filtrar os dados entre os anos de 2000 e 2010
df_filtered = df[(df["Year"] >= 2000) & (df["Year"] <= 2010)]

# Contar o número de jogos por publisher
publisher_counts = df_filtered["Publisher"].value_counts()

# Encontrar o publisher com maior número de jogos
top_publisher = publisher_counts.idxmax() #pega o nome do publisher max
top_count = publisher_counts.max() #pega o valor maximo

print(f"Publisher com mais jogos entre 2000 e 2010: {top_publisher} ({top_count} jogos)")

Publisher com mais jogos entre 2000 e 2010: Electronic Arts (979 jogos)

In [19]:
#Exercicio 4

# Calcular a média de vendas no Japão por gênero
jp_sales_by_genre = df.groupby("Genre")["JP_Sales"].mean().sort_values(ascending=False) #false é do maior para o menor

print("Média de vendas no Japão por gênero:")
print(jp_sales_by_genre)

Média de vendas no Japão por gênero:
Genre
Role-Playing    0.236767
Platform        0.147596
Fighting        0.103007
Puzzle          0.098471
Simulation      0.073472
Strategy        0.072628
Misc            0.061967
Sports          0.057702
Action          0.048236
Racing          0.045388
Adventure       0.040490
Shooter         0.029221
Name: JP_Sales, dtype: float64